# Default ignored files
/../../Shamir's secret sharing scheme./.idea/shelf/
/../../Shamir's secret sharing scheme./.idea/workspace.xml
# Editor-based HTTP Client requests
/../../Shamir's secret sharing scheme./.idea/httpRequests/
# Datasource local storage ignored files
/../../Shamir's secret sharing scheme./.idea/dataSources/
/../../Shamir's secret sharing scheme./.idea/dataSources.local.xml
